html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #fff;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.body--dark {
    background: rgb(221, 230, 230);
}

.header {
    text-align: center;
    background-color: rgb(195, 202, 202);
    padding: 15px;
}

.header__mainHeader {
    color: rgb(22, 22, 10);
    background-color: azure;
    padding: 5px;
}

.header__image {
    width: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px #1D191E;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__button {
    display: block;
    margin: 0 auto;
}

.navigation {
    padding-bottom: 10px;
}

.navigation__list {
    list-style: none;
    padding-left: 0px;

}

.navigation__listElement {
    padding-bottom: 15px;
}

.navigation__link {
    color: black;
    text-decoration: none;
}

.navigation__link:hover {
    border-bottom: 1px solid;
    font-weight: bold;
    outline: none;
}

.navigation__link--important {
    color: rgb(38, 0, 255);
}

.aboutMeSection {
    padding: 10px;
    border: 5px dotted #000;
}

.aboutMeSection__header {
    font-size: 40px;
    text-align: center;
}

.aboutMeSection__paragraph--important {
    font-size: 25px;
}

.interestsSection {
    margin-top: 100px;
}

.interestsSection__header {
    text-align: center;
}

.interestsSection__bookImage {
    width: 200px;
    box-shadow: 5px 5px 5px 0px #1D191E;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tableSection {
    background-color: rgb(195, 202, 202);
    padding: 10px;
}

.tableSection__table {
    border-collapse: collapse;
    margin: auto;
}

.tableSection__caption {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.tableSection__Cell--Header {
    background-color: rgb(75, 71, 71);
    color: #fff;
}

.tableSection__Cell {
    border: 1px solid #000;
    padding: 15px;
    text-align: center;
}

.tableSection__Row:nth-child(even) {
    background-color: gray;
}

.tableSection__Row:hover {
    background-color: rgb(236, 250, 43)
}

.tableSection__Row {
    background-color: #fff;
}

.tableSection__link {
    color: black;
    text-decoration: none;
}

.tableSection__link:hover {
    border-bottom: 1px solid;
    font-weight: bold;
    outline: none;
}

.footer {
    background-color: #656266;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer__paragraph {
    text-align: center;
    color: #fff;
}