html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.body--dark {
    background: rgb(221, 230, 230);
}
